body{
    font-family: sans-serif;
}
#terminarSesión{
    float: right;
}
figure img{
    width: 40px;
    float: left;
}
*{
    color:#DFDFDF;
}

button{
    color:black;
}

p{
    align-content:center;
}